// 版心
$w: 1200px;

// 色彩
$color: var(--color, #539dfd); // 主色调
$assistColor: var(--assistColor, #539dfd60); // 辅助色调

// 过渡效果
$move: 0.3s;

// 圆角效果
$round: 5px;

// 阴影效果
$boxShadow: 0 2px 8px rgba(186, 186, 186, 0.15);

// 文字效果
$fontSty: PingFang SC, "Hiragino Sans GB", "Microsoft JhengHei", "Microsoft YaHei", sans-serif; //文章列表字体

// 文本标题
$textColor: var(--textColor, #333);
// 边框
$borderColor: var(--borderColor, #eee);
// 下边框
$underBorderColor: var(--underBorderColor, #eee);
// 阴影
$shadeColor: var(--shadeColor, 0 2px 8px rgba(186, 186, 186, 0.15));
