// 版心
$w: 1200px;

// 色彩
$color: var(--color, #539dfd); // 主色调
$assistColor: var(--assistColor, #539dfd60); // 辅助色调
$bgc: #f5f7fc; //背景色

// 过渡效果
$move: 0.3s;

// 圆角效果
$round: 5px;

// 阴影效果
$boxShadow: 0 2px 8px rgba(186, 186, 186, 0.15);
