#app{
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

div {
    box-sizing: border-box;
}

img{
    vertical-align: middle;
}

/* 网页滑动条样式 */
::-webkit-scrollbar {
    width: 7px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background-color: #8b8b8b;
    transition: all $move;
}

::-webkit-scrollbar-track {
    /* border-radius: 7px; */
    background-color: #fcfcfc;
}

.el-select-dropdown__item{
    padding: 0 32px 0 20px !important;
}