@import "./global.scss";

* {
    padding: 0;
    margin: 0;
}

body {
    height: 3000px;
}

li {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

div {
    box-sizing: border-box;
}

/* 网页滑动条样式 */
::-webkit-scrollbar {
    width: 7px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background-color: $color;
    transition: all $move;
}

::-webkit-scrollbar-track {
    /* border-radius: 7px; */
    background-color: #d3dce6;
}
