body {
    font-family: LXGWWenKai !important;
    background-color: #f9f9f9;
    transition: background-color $move;
}

// 滚动条轨道
::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #f5f5f5;
}

// 进度条颜色
::-webkit-scrollbar-thumb {
    background-color: #d4d4d4;
}

// 封装CSS容器样式
@mixin container {
    border-radius: $round;
    border: 1px solid $borderColor;
    transition: all $move;

    &:hover {
        box-shadow: $shadeColor;
    }
}

// 封装右侧模块标题样式
@mixin titleRight {
    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;
        border-bottom: 1px solid $underBorderColor;
        font-size: 17px;
        font-weight: 400;
        color: $textColor;
        transition: all $move;

        img {
            width: 30px;
            height: 20px;
        }
    }
}

// 霞鹜文楷 [免费可商用]
@font-face {
    font-family: LXGWWenKai;
    src: url("../assets/font/LXGWWenKai.ttf");
}
