@import "./init.scss";
@import "./global.scss";

body {
    // height: 3000px;
    background-color: $bgColor;
    transition: background-color $move;
}

// 封装CSS容器样式
@mixin container {
    border-radius: $round;
    border: 1px solid $borderColor;
    transition: all $move;

    &:hover {
        box-shadow: $shadeColor;
    }
}

// 封装右侧模块标题样式
@mixin titleRight {
    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;
        border-bottom: 1px solid $borderColor;
        font-size: 17px;
        font-weight: 400;
        color: $textColor;
        transition: all $move;

        img{
            width: 30px;
            height: 20px;
        }
    }
}

// 引入标小智龙珠体 [免费可商用]
@font-face {
    font-family: LongZhuTi;
    src: url("../assets/font/LongZhuTi-Regular-2.ttf");
}

// 快看世界体
@font-face {
    font-family: kuaikan;
    src: url("../assets/font/kuaikanshijieti.ttf");
}

