// 暗黑主题
.dark {
    body {
        background-color: #232931 !important;
    }

    .header {
        &::after {
            background: linear-gradient(#2b333e, transparent 70%) !important;
        }

        .one {
            .one_item_nav {
                color: #fff !important;
            }

            .two {
                background-color: #232931 !important;

                .two_item_nav {
                    color: #bbb !important;

                    &:hover {
                        background-color: #2d333d !important;
                    }
                }
            }
        }
    }

    .borderColor {
        border-bottom: 1px solid #2b333e !important;
        background-color: rgba(44, 51, 62, 0.9) !important;
    }

    .Swiper {
        &::after {
            background: linear-gradient(to top, #232931, transparent) !important;
        }
    }
    
    .ripple {
        .parallax > use {
            fill: rgba(35, 41, 49, 0.7) !important;
        }
    }

    .classics {
        .item {
            background-color: #2b333e !important;
        }
    }

    .author {
        background-color: #2b333e !important;

        .info {
            h3 {
                color: #fff !important;
            }

            p {
                color: #bbb !important;
            }
        }

        .socializing .title::after {
            color: #bbb !important;
            background-color: #2b333e !important;
        }
    }

    .NewComments {
        background-color: #2b333e !important;

        .list .item .content .time {
            color: #bbb !important;
        }
    }

    .HotArticle {
        background-color: #2b333e !important;
    }

    .pagination .el-pager li {
        color: #fff;
    }

    .toolBar {
        background-color: #2b333e !important;
        border: 1px solid #2b333e !important;

        .item {
            border-bottom: 1px solid #2b333e !important;

            &:hover {
                background-color: #404a57 !important;
            }
        }
    }

    .article {
        background-color: #2b333e !important;

        .content {
            color: #d9d9d9 !important;

            // 设置标题样式
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                color: #fff !important;
            }

            p {
                code {
                    background-color: #4f4f4f !important;
                }
            }
        }
    }

    .upAndDown {
        a {
            border: 1px solid transparent !important;

            &:hover {
                border: 1px solid #484848 !important;
                background-color: transparent !important;
            }

            p {
                &:first-child {
                    color: #fff !important;
                }

                &:last-child {
                    color: #fff !important;
                }
            }
        }
    }

    .comment {
        .title {
            background-color: #474747;

            &::after {
                color: #fff !important;
                background-color: #2d333d !important;
            }
        }
    }

    .footer {
        border-top: 1px solid #2b333e !important;
        background-color: #2b333e !important;

        .info {
            color: #fff !important;
        }
    }

    .friend_bg {
        background: #232931 !important;

        .container {
            background-color: #232931 !important;
        }
    }
}
