// 白天模式
$bgColor: var(--bgColor, #f9f9f9);
$boxColor: var(--boxColor, #fff);
$textColor: var(--textColor, #333);
$bottomBorder: var(--bottomBorder, #eee);
$wave: var(--wave, rgba(249, 249, 249, 0.7));
