// 暗黑主题
.dark {
    body {
        background-color: #232931 !important;
    }

    .header {
        &::after {
            background: linear-gradient(#2b333e, transparent 70%) !important;
        }

        .one {
            .one_item_nav {
                color: #fff !important;
            }

            .two {
                background-color: #232931 !important;

                .two_item_nav {
                    color: #bbb !important;
                }
            }
        }
    }

    .borderColor {
        border-bottom: 1px solid #2b333e;
        background-color: rgba(44, 51, 62, 0.9);
    }

    .Swiper {
        &::after {
            background: linear-gradient(to top, #232931, transparent);
        }
    }
    .ripple {
        .parallax > use {
            fill: rgba(35, 41, 49, 0.7);
        }
    }

    .classics {
        .item {
            background-color: #2b333e;
        }
    }

    .author {
        background-color: #2b333e !important;

        .info {
            h3 {
                color: #fff;
            }

            p {
                color: #bbb;
            }
        }

        .socializing .title::after {
            color: #bbb;
            background-color: #2b333e;
        }
    }

    .NewComments {
        background-color: #2b333e !important;

        .list .item .content .time {
            color: #bbb !important;
        }
    }

    .HotArticle {
        background-color: #2b333e;
    }

    .pagination .el-pager li {
        color: #fff;
    }

    .toolBar {
        background-color: #2b333e;
        border: 1px solid #2b333e;

        .item {
            border-bottom: 1px solid #2b333e;

            &:hover {
                background-color: #404a57 !important;
            }
        }
    }

    .article {
        background-color: #2b333e;

        .content {
            color: #d9d9d9;

            // 设置标题样式
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                color: #fff;
            }

            p {
                code {
                    background-color: #4f4f4f !important;
                }
            }
        }
    }

    .UpAndDown {
        a {
            border: 1px solid transparent;

            &:hover {
                border: 1px solid #484848;
                background-color: transparent !important;
            }

            p {
                &:first-child {
                    color: #fff;
                }

                &:last-child {
                    color: #fff;
                }
            }
        }
    }

    .footer {
        border-top: 1px solid #2b333e;
        background-color: #2b333e;

        .info {
            color: #fff;
        }
    }

    .friend {
        background-color: #232931;
    }
}
