@media screen and (max-width: 1010px) {
    .Article {
        .Swiper {
            height: 450px !important;
        }

        .box .title {
            font-size: 30px !important;
            margin-bottom: 25px !important;
        }

        .Comment .form {
            flex-wrap: wrap !important;
        }
    }

    .StarrySky {
        height: 450px !important;
    }
}

@media screen and (max-width: 800px) {
    .Article .Swiper {
        height: 280px !important;

        #typed {
            font-size: 20px !important;
        }
    }

    .StarrySky {
        height: 280px !important;
    }
}

@media screen and (max-width: 600px) {
    .Article {
        .box .title {
            font-size: 25px !important;
            margin-bottom: 15px !important;
        }

        .list .item {
            .time{
                display: none !important;
            }
            
            .reply {
                right: 10px !important;
            }
        }
    }
}

@media screen and (max-width: 800px) {
}
