@media screen and (max-width: 1010px) {
    .Article {
        .box .title {
            font-size: 30px !important;
            margin-bottom: 25px !important;
        }

        .Comment .form {
            flex-wrap: wrap !important;
        }
    }
}

@media screen and (max-width: 600px) {
    .Article {
        .box .title {
            font-size: 25px !important;
            margin-bottom: 15px !important;
        }

        .list .item {
            .time{
                display: none !important;
            }

            .reply {
                right: 10px !important;
            }
        }
    }
}

@media screen and (max-width: 800px) {
}
