// 首页适配
@media screen and (max-width: 1260px) {
    .main {
        width: 1000px !important;
    }
}

@media screen and (max-width: 1010px) {
    .header .w .one .one_item .one_item_nav {
        padding: 20px 10px !important;
        font-size: 13px !important;
    }

    .main {
        width: 800px !important;

        .classics .item {
            height: 180px !important;
        }

        .author .socializing .list a img {
            width: 18px !important;
            height: 18px !important;
        }

        .HotArticle .list .item {
            height: 90px !important;
            background-size: 160% !important;
        }
    }

    .classics .item .info a .fun span{
        padding-left: 12px !important;
    }
}

@media screen and (max-width: 800px) {
    .header {
        .w {
            width: 100% !important;
        }

        .one .one_item .one_item_nav {
            padding: 10px !important;
        }
    }

    .main {
        width: 100% !important;

        .left {
            width: 100% !important;
        }

        .right {
            display: none !important;
        }
    }

    .classics .item .info a .fun span {
        padding-left: 20px !important;
    }

    .footer {
        display: flex !important;
        justify-content: center;
        padding: 20px 40px;

        .info {
            padding: 0 !important;
        }
    }

    .classics .item .info a p{
        line-height: normal !important;
    }
}

@media screen and (max-width: 720px) {
    .header .w {
        .one {
            display: none !important;
        }

        .top {
            display: flex !important;
        }
    }

    .classics .item {
        .info {
            padding: 20px !important;
            
            a {
                h3 {
                    padding-top: 0 !important;
                    padding-bottom: 5px !important;
                    font-size: 20px !important;
                }

                p {
                    min-height: 40px !important;
                    line-height: 20px !important;
                    -webkit-line-clamp: 2 !important;
                }

                .fun {
                    padding-top: 5px !important;

                    span {
                        padding-left: 10px !important;

                        &:first-child {
                            padding-left: 0 !important;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .classics .item .info a .fun span:nth-child(2){
        display: none !important;
    }
}